<!DOCTYPE html>
<html>
  <head>
    <title> {{ measurement }} </title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 52.156, lng: 5.387},
          zoom: 7
        });

        var infowindow = new google.maps.InfoWindow();
            
        $.ajax({
          url: "{{ url_for('api', measurement=measurement) }}",
          type: 'GET',
          dataType: 'json',
        }).done(function(json) {

          for (var i = 0; i < json.length; i++) {
            var station = json[i];

            var contentString = '<div class="info_content">'+
             '<h3>'+
             station['name']+
             '</h1>'+ 
             '</div>';      

            var marker = new google.maps.Marker({
              position: {lat: station['coordinates'][1], lng: station['coordinates'][0]},
              map: map,
              info: contentString
            });

            marker.addListener('click', function() {
              infowindow.setContent(this.info);
              infowindow.open(map, this);
            });
          }
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ config['GOOGLE_API_KEY']}}&callback=initMap"
    async defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  </body>
</html>
